<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
    {% block head_styles %}
    {% endblock %}
    {% block head_javascripts %}
    {% endblock %}
</head>
<body>
{% block header %}
    <header>

    </header>
{% endblock %}
<h1>Title</h1>
{% block content %}
{% endblock %}

{% block footer %}

{% endblock %}
{% block footer_javascripts %}
{% endblock %}
</body>
</html>
