/app/bootstrap.php.cache
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/assetic/*
/web/css/*
/web/js/*

*.swp
.idea/
.vagrant/
/puphpet/
/Vagrantfile
.DS_Store/