{% extends 'FamGenTreeThemeAdminBundle:Default:_base.html.twig' %}



{% block main_title %}
    Add a New User
{% endblock %}

{% block main_content %}
<div class="col-lg-12">
    {{ form(form) }}
</div>
{% endblock %}
